nav {
    background-color: #39a380;
    padding: 1rem;
    text-align: center;
  }
  nav a {
    font-size: larger;
    margin: 0 40px;
    text-decoration: none;
    color: #c1d31c;
  }
  nav a:hover {
    text-decoration: underline;
    background-color: aqua;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c1d31c;
    border-style: solid;
  }
  
  h1 {
    margin-bottom: 1rem;
    color: black;
    text-align: center;
  }
  
  p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: black;
    line-height: 1.6;
    margin: 0 0 20px;
    padding: 0px;
    text-align: center;
  }

  p::before {
    content: "• ";
    display: inline-block;
    margin-right: 0.5em;
    color: black;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

ul {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: black;
    line-height: 1.6;
    margin: 0 0 20px;
    padding: 0px;
    text-align: center;
  }